<li>
	{{burger_name}}

	<button class="change-hunger" data-id="{{id}}" data-newHunger="{{hunger}}">
		{{#if hunger}}hunger TIME!{{else}}Take It, I'm FULL!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>
