<li>
	{{burger_name}}

	<button class="change-devour" data-id="{{id}}" data-newDevour="{{Devoured}}">
		{{#if devoured}}Devour TIME!{{else}}EAT UP!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>
